:root {
    --primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --secondary-font: Helvetica, Arial, sans-serif;
    --primary-color: darkslateblue;
    --secondary-color: azure;
    font-family:
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header style start */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: var(--secondary-color);
    font: var(--primary-font);
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 1.5vw;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1 1 200px;
    text-shadow:1vw;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  