:root {    
    --headline-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primary-color: darkslateblue;
    --secondary-color: lightgrey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

/* Header style start */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: var(--secondary-color);
    font: var(--primary-font);
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 1.5vw;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1 1 200px;
    text-shadow: 3px 3px black;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: var(--secondary-color);
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px black;
    text-decoration: none;
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  header nav ul li a:visited {
      color: var(--secondary-color);
  }
  /*Header style end*/

  /*Hero style start*/

.hero {
    display: flex; 
    background-color: var(--secondary-color);
}
.hero-text {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-family: var(--secondary-font);
    text-align: left;
    font-size: .75vw;
    margin: auto 20% auto 20%;
}

.hero h2 {
    padding: 20px 0 10px 0;
    font-style: oblique;
    font-family: var(--headline-font);
}

.profile-image {
    margin: 1vw;
}

/* Hero style end */

/* About Me style start */

/* About Me style end */

/* Projects style start */

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-article-main {
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 5%;
    outline: 1%;
    outline-style: solid;
    display: flex;
    padding: none;
}


.project-article {
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 80%;
    padding: 5%;
    outline: 1%;
    outline-style: solid;
    display: flex;
    padding: none;
}

.project-article img {
    max-width: 50%;
    flex: 1;

}

.project-article h3 {
    text-decoration: none;
}

.projects h2 {
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--secondary-color)
}

/* Projects style end */